$web-font-path: "https://fonts.googleapis.com/css?family=Ubuntu|Indie+Flower|Cabin+Sketch" !default;
$font-family-sans-serif: 'Ubuntu', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1600px
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 1200px,
    xl: 1800px
);

@import "~bootswatch/dist/sketchy/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sketchy/bootswatch";
$input-border-radius: $border-radius-sketchy;
.card-footer:last-child {
  border-radius: 0;
}

@import "~@fortawesome/fontawesome-pro/scss/fontawesome";
@import "~@fortawesome/fontawesome-pro/scss/regular";
@import "~@fortawesome/fontawesome-pro/scss/brands";

@import "~select2/src/scss/core";
@import "~@ttskch/select2-bootstrap4-theme/src/layout";

@import "modules/layout";
@import "modules/emoji";
@import "modules/shadows";
@import "modules/form";
@import "modules/grid";
@import "modules/card";
@import "modules/code";
@import "modules/barcode";

#arc-widget > iframe {
  position: fixed !important;
  bottom: 3px !important;
}
